// SITE VARIABLES

$gbg: #30313d;
$gbglight: lighten($gbg, 5%);
$gbglighter: lighten($gbg, 10%);
$gbglightest: lighten($gbg, 20%);
$gbgdark: darken($gbg, 5%);
$gbgdarker: darken($gbg, 10%);
$gbgdarkest: darken($gbg, 20%);
$gbgnav: #333544;
$gbginput: #292a31;
$gbgitem: #3c3d4a;
$gprimary: #de9e80;
$gdanger: #9a3f3f;
$gsuccess: #39946c;
$gborder: rgb(43, 46, 56);
$gbgheader: #353544;
$gprimarylight: #00efff;
$glabel: #7c83a5;
$gbgerror: #bf4d4d30;
$gerror: #fdb8b8;
$gbgitems: #2d2d38;
